<div>
    <h1 style="text-align:center;">账户管理</h1>

     <h2 style="margin-top: 30px;">
            所有账号
    </h2>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th align="left">账户 <span class="pull-right"></span></th>
                    <th align="left" width="400px">操作<span class="pull-right"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts">
                    <td>{{account.address}}</td>
                    <td>
                        <ul>
                            <li ng-click="toggleMenu($index)" style="list-style:none;color:#337ab7" ng-class="{'index':$index==temp}">
                                                                         解锁
                            </li>
                            <div class="closediv opendiv div{{$index}}" style="display: none;">
                                <ul>
									 输入密码：<input type="text" id="password{{$index}}" /><input type="hidden" id="address" value="{{account.address}}"/>
									 <button ng-click="unlockAccount($index)">unlockAccount</button>
									 <span id="unlockAccountResult{{$index}}"></span>
                                </ul>
                            </div>
                        </ul>
                        <ul>
                            <li ng-click="toggleBalance($index)" style="list-style:none;color:#337ab7" ng-class="{'index':$index==temp}">
                                                                         余额
                            </li>
                            <div class="closediv opendiv divBalance{{$index}}" style="display: none;">
                                <ul>
									 <button ng-click="getBalance($index)">获取余额</button>
									 <span id="balanceResult{{$index}}"></span>
                                </ul>
                            </div>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>
		<div class="section">
		    <h2>添加账户</h2>
		               电话: <input type="text" id="phone"/> 
		               地址: <input type="text" id="address"/>
		               学校: <input type="text" id="school"/>
		               <br><br>
		               姓名: <input type="text" id="userName"/>
		               账号: <input type="text" id="accountName"/>
		               密码: <input type="text" id="addAccountPassword"/>
		      <button ng-click="newAccount()">newAccount</button>
		      <span id="newAccountResult"></span>
		</div>
		<div class="section">
		    <h2>发送交易</h2>
		               发送: <input type="text" id="address1"/> 
		               接受: <input type="text" id="address2"/> 
		               金额: <input type="text" id="value"/>
		               密码: <input type="text" id="sendAccountPassword"/>
		      <button ng-click="sendTransaction()">sendTransaction</button>
		      <span id="sendTransactionResult"></span>
		</div>
</div>
