<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true" scan="true" scanPeriod="5 minutes">
	<!-- <Encoding>UTF-8</Encoding> -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %logger[%L] - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bi_commerce-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger[%L] - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.blackbrother.bi.dao" level="DEBUG" /> <!-- 该包下打印debug及以上级别 -->
	
	<!-- 默认打印info及以上级别 -->
	<root level="info">
		 <appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>  